.viewType_btn {
  @apply text-wt-primary-75 font-bold text-sm flex items-center space-x-1.5 cursor-pointer relative py-3;
}

.viewType_btn.active {
  @apply text-wt-primary-115;
}

.viewType_btn.active::after {
  content: '';
  @apply absolute bottom-0 left-0 h-1 w-full rounded-t-lg z-[1] bg-wt-primary-115;
}

.viewType_btn.active p {
  @apply text-wt-primary-120 font-bold text-sm;
}

tr:hover td .edit {
  @apply text-wt-primary-115;
}

.table-scroll::-webkit-scrollbar {
  height: 6px !important;
}

tr:hover td .delete {
  @apply text-wt-red-1 !important;
}

.pagination {
  @apply flex items-center space-x-1;
}

.pagination li {
  @apply text-wt-primary-120 text-sm font-normal h-6 w-6 flex items-center justify-center rounded-lg;
}

.pagination li.selected {
  @apply text-white font-semibold bg-wt-primary-115;
}

.dropdown-item {
  @apply flex items-center px-4 py-3 text-sm font-bold text-wt-primary-75 hover:text-wt-primary-115 space-x-1.5;
}

.dropdown-item:hover p {
  @apply text-wt-primary-120;
}
